// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../includes/lib';

/* -------------------------------------------------------------------------- */
// Navigation styles

.mzp-c-navigation {
    background: $color-white;
    color: $color-black;

    .mzp-l-content {
        @include border-box;
        margin: 0 auto;
        max-width: $content-max;
        min-width: $content-xs;
        padding: $layout-xs;
        position: relative;

        @media #{$mq-md} {
            padding: 0 $layout-lg;
        }

        @media #{$mq-lg} {
            padding: 0 $layout-xl;
        }
    }

    .mzp-c-navigation-content {
        @include clearfix;
        position: relative;
    }
}

/* -------------------------------------------------------------------------- */
// Navigation Icon

.mzp-c-navigation-menu-button {
    @include image-replaced;
    background: transparent url('#{$image-path}/icons/ui/menu-black.svg') center center no-repeat;
    border-radius: 4px;
    border: none;
    display: none;
    height: 32px;
    padding: 0;
    width: 32px;

    &:hover,
    &:active,
    &:focus,
    &.active  {
        background-color: $color-gray-20;
    }
}

.js .mzp-c-navigation-menu-button {
    @include bidi(((float, right, left),));
    display: block;

    @media #{$mq-md} {
        display: none;
    }
}

/* -------------------------------------------------------------------------- */
// Mozilla Logo

.mzp-c-navigation-logo {
    @include bidi(((float, left, right),));

    a {
        @include background-size(84px, 24px);
        @include image-replaced;
        background-image: url('#{$image-path}/logos/mozilla/black.svg');
        background-repeat: no-repeat;
        display: block;
        height: 24px;
        margin: 0 auto;
        width: 84px;
    }

    @media #{$mq-md} {
        margin: $margin-lg 0;

        a {
            @include background-size(112px, 32px);
            margin-top: $margin-xs;
            height: 32px;
            width: 112px;
        }
    }
}

/* -------------------------------------------------------------------------- */
// Menu & Download Button

.mzp-c-navigation-items {
    clear: both;
    padding-top: $margin-sm;

    .mzp-c-button-download {
        margin-bottom: 0;
    }

    @media #{$mq-md} {
        clear: none;
        padding-top: 0;

        @include bidi((
            (float, left, right),
            (margin-left, $margin-sm, margin-right, 0),
        ));
        width: calc(100% - (112px + #{$margin-sm}));

        .mzp-c-menu {
            @include bidi(((float, left, right),));
            width: calc(100% - (180px + #{$margin-sm}));
        }

        .mzp-c-navigation-download {
            @include bidi(((float, right, left),));
            margin: $margin-lg 0;
            max-width: 180px;
        }
    }

    @media #{$mq-lg} {
        @include bidi((
            (margin-left, $margin-md, margin-right, 0),
        ));
        width: calc(100% - (112px + #{$margin-md}));

        .mzp-c-menu {
            width: calc(100% - (180px + #{$margin-md}));
        }
    }

    @media #{$mq-xl} {
        @include bidi((
            (margin-left, $margin-lg, margin-right, 0),
        ));
        width: calc(100% - (112px + #{$margin-lg}));

        .mzp-c-menu {
            width: calc(100% - (180px + #{$margin-lg}));
        }
    }
}

.js .mzp-c-navigation-content {

    .mzp-c-navigation-items {
        display: none;
        overflow: hidden;

        &.open {
            display: block;
        }

        .mzp-c-navigation-items-container {
            @include animation(mzp-a-slide-down 500ms $photon-motion-easing 150ms 1 normal both);
        }

        @media #{$mq-md} {
            display: block;
            overflow: visible;

            .mzp-c-navigation-items-container {
                @include animation(none);
            }
        }
    }
}
